{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %} HOME {% endblock %}
{% block content%}
    <h1>Hi {{ request.user.username }}!</h1>
    <h2>These are your information!</h2>
    <url>
        <li>Heart Rate :</li>
        <li>Core Temperature :</li>
        <li>Ambient Temperature :</li>
        <li>Humidity :</li>
        <li>Galvanic Skin Response :</li>
    </url>
    <br>
    <a href="{% url 'sensor:display_data' %}" class="btn-sensor-data">📊 View Sensor Data</a>
{% endblock  %}
