{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block title %} INFORMATION {% endblock %}
{%block content%}
    <h1>โรคลมร้อน คืออะไร?</h1>
    <p>Heatstroke คือภาวะผิดปกติที่เกิดจากความร้อนที่สะสมในร่างกายไม่สามารถระบายความร้อนออกได้ตามปกติ 
        จึงทำให้ร่างกายมีอุณหภูมิสูงขึ้นอย่างรวดเร็ว 
        และทำให้เกิดภาวะแทรกซ้อนที่อาจทำให้เสียชีวิตหากไม่ได้รับการรักษาอย่างทันท่วงที</p>
{%endblock%}
{% block content2%}
<div class="content2" id="content2">
    <h1>อาการของโรคลมร้อน</h1>
    <ul>
        <li>มีไข้สูงเกิน 40.5 องศาเซลเซียส</li>
        <li>ปวดหัวศีรษะ หน้ามืด เมื่อยหล้า อ่อนเพลีย และอาจหมดสติได้ </li>
        <li>มีความผิดปกติทางระบบประสาท เช่น ชัก เพ้อ เดินโซเซ ตอบสนองช้า พูดจาสับสน</li>
        <li>ไม่มีเหงื่อออก จากผลของต่อมเหงื่อทำงานผิดปกติทำให้ผิวหนังเปลี่ยนเป็นสีแดงากขึ้น</li>
        <li>อาจพบปัสสาวะสีเข้มผิดปกติจากภาวะกล้ามเนื้อลายสลาย และอาจเกิดภาวะไตวายตามมาได้</li>
    </ul>
    <br>
    <h1>การปฐมพยาบาลเบื้องต้น</h1>
    <ul>
        <li>การทำให้อุณหภูมิร่างกายลดลงให้เร็วที่สุดก่อนนำส่งโรงพยาบาล</li>
        <li>ย้ายผู้ป่วยมาในที่ร่ม และจัดท่าให้อยู่ในท่าหงาย</li>
        <li>ใช้ผ้าชุบน้ำเย็นหรือน้ำแข็งประคบตามร่างกาย โดยเฉพาะบริเวณหลังคอ รักแร้ และนำพัดลมเป่าระบายความร้อน</li>
        <li>หากผู้ป่วยรู้สึกตัวให้ดื่มน้ำเกลือให้มากที่สุด เพื่อทดแทนภาวะการขาดน้ำ</li>
        <li>นำผู้ป่วยส่งโรงพยาบาลให้เร็วที่สุด</li>
    </ul>
</div>    
{% endblock  %}
